.table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
}

tr {
    border: 1px solid #ccc;
}

th {
    background-color: green;
    color: #fff;
    text-transform: uppercase;
}

td,
th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 10px;
}
td:first-letter,
th:first-letter{
    text-transform: uppercase;
}


.tableRow:nth-child(2n) {
    background-color: #ebebeb;
}